@model EmployeeSalaryCalculationSystem.MVC.ViewModels.EmployeeSalaryViewModel

@{
    ViewData["Title"] = "ViewTotalDuetoEmployee";
}

<h1>View Total Due to Employee</h1>
<hr />
<br />

@if (!Model.DispalyGrid)
{
    <form asp-action="ViewTotalDuetoEmployee" asp-controller="EmployeeTask">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <span class="text-danger">*</span>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <span class="text-danger">*</span>
                    <select asp-for="EmployeeId" asp-items="@(new SelectList(Model.Employees, "EmployeeId", "FirstName"))" class="custom-select mr-sm-2">
                        <option value="">Please Select</option>
                    </select>
                    <span asp-validation-for="Employees" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-6"></div>
            <div class="col-md-6 footer-buttons">
                <button class="btn btn-success float-right" type="submit">Submit</button>
            </div>
        </div>
    </form>
}
<br />
@if (Model != null)
{
    <table class="table" id="tblEmployeeSalaryInfo">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalNoOfHoursWorked)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.FullName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TotalNoOfHoursWorked)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Salary)
                </td>
            </tr>
        </tbody>
    </table>

}
